Repository AY1920S2-CS2103T-W13-1/main, pull requests merged in 2020-03, with the labels that each got.

#108 Created Item Classes and its related components and in midst of implementing ItemTest and ItemNameTest
  docs/AboutUs.adoc
  docs/team/johndoe.adoc
  docs/team/willyseahh.adoc
  src/main/java/seedu/address/model/item/Item.java
  src/main/java/seedu/address/model/item/ItemName.java
  src/main/java/seedu/address/model/item/ItemPrice.java
  src/test/java/seedu/address/model/item/ItemNameTest.java
  src/test/java/seedu/address/model/item/ItemPriceTest.java
  src/test/java/seedu/address/model/item/ItemTest.java
  src/test/java/seedu/address/testutil/ItemBuilder.java
Labels: priority.High, status.Ongoing

#124 Added tests for ItemTests
  src/main/java/seedu/address/model/item/Item.java
  src/main/java/seedu/address/model/item/ItemName.java
  src/test/java/seedu/address/model/item/ItemTest.java
  src/test/java/seedu/address/testutil/ItemBuilder.java
  src/test/java/seedu/address/testutil/TypicalItem.java
Labels: priority.High, task.ExpenseSplitter

#128 Add & Delete Commands
  src/main/java/seedu/eylah/commons/core/Messages.java
  src/main/java/seedu/eylah/diettracker/logic/Logic.java
  src/main/java/seedu/eylah/diettracker/logic/LogicManager.java
  src/main/java/seedu/eylah/diettracker/logic/commands/AddCommand.java
  src/main/java/seedu/eylah/diettracker/logic/commands/Command.java
  src/main/java/seedu/eylah/diettracker/logic/commands/CommandResult.java
  src/main/java/seedu/eylah/diettracker/logic/commands/DeleteCommand.java
  src/main/java/seedu/eylah/diettracker/logic/commands/HelpCommand.java
  src/main/java/seedu/eylah/diettracker/logic/commands/exceptions/CommandException.java
  src/main/java/seedu/eylah/diettracker/logic/parser/AddCommandParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/ArgumentMultimap.java
  src/main/java/seedu/eylah/diettracker/logic/parser/ArgumentTokenizer.java
  src/main/java/seedu/eylah/diettracker/logic/parser/CliSyntax.java
  src/main/java/seedu/eylah/diettracker/logic/parser/DeleteCommandParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/FoodBookParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/Parser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/ParserUtil.java
  src/main/java/seedu/eylah/diettracker/logic/parser/Prefix.java
  src/main/java/seedu/eylah/diettracker/logic/parser/exceptions/ParseException.java
  src/main/java/seedu/eylah/diettracker/model/Model.java
  src/main/java/seedu/eylah/diettracker/model/ReadOnlyUserPrefs.java
Labels: priority.High

#131 Updated DG, added ListReceiptCommandParser, PaidCommandParser
  docs/DeveloperGuide.adoc
  docs/images/expense-splitter/expense_splitter_uml_class_diagram.png
  docs/images/eylah_overall_class_diagram.png
  docs/team/willyseahh.adoc
  src/main/java/seedu/eylah/expensesplitter/logic/commands/ListReceiptCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/ListReceiptCommandParser.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/PaidCommandParser.java
Labels: priority.High, task.ExpenseSplitter, type.DG

#137 Update Parsing related class.
  src/main/java/seedu/eylah/expensesplitter/logic/commands/DeleteItemCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/ArgumentMultimap.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/ArgumentTokenizer.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/CliSyntax.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/ParserUtil.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/Prefix.java
  src/main/java/seedu/eylah/ui/Ui.java
Labels: priority.High, task.ExpenseSplitter

#132 [DIET] Added Height, Weight and BMI Commands basic commands
  src/main/java/seedu/eylah/diettracker/logic/commands/BmiCommand.java
  src/main/java/seedu/eylah/diettracker/logic/commands/HeightCommand.java
  src/main/java/seedu/eylah/diettracker/logic/commands/WeightCommand.java
  src/main/java/seedu/eylah/diettracker/logic/parser/BmiCommandParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/CliSyntax.java
  src/main/java/seedu/eylah/diettracker/logic/parser/FoodBookParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/HeightCommandParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/ParserUtil.java
  src/main/java/seedu/eylah/diettracker/logic/parser/WeightCommandParser.java
  src/main/java/seedu/eylah/diettracker/model/self/Bmi.java
  src/main/java/seedu/eylah/diettracker/model/self/Height.java
  src/main/java/seedu/eylah/diettracker/model/self/Self.java
  src/main/java/seedu/eylah/diettracker/model/self/Weight.java
Labels: priority.High, task.DietTracker

#138 done all commands for v1.2 expensesplitter portion
  src/main/java/seedu/eylah/expensesplitter/logic/commands/ListReceiptCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/PaidCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/CliSyntax.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/ExpenseSplitterParser.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/PaidCommandParser.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/ParserUtil.java
  src/main/java/seedu/eylah/expensesplitter/model/Model.java
  src/main/java/seedu/eylah/expensesplitter/model/ModelManager.java
  src/main/java/seedu/eylah/expensesplitter/model/person/Person.java
Labels: priority.High, task.ExpenseSplitter, type.DG

#140 Add ListAmount and DeleteItem Command and Parser, adding new UI class to help format the output to CLI.
  src/main/java/seedu/eylah/Eylah.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/AddItemCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/DeleteItemCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/ListAmountCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/DeleteItemCommandParser.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/ListAmountCommandParser.java
  src/main/java/seedu/eylah/expensesplitter/model/Model.java
  src/main/java/seedu/eylah/expensesplitter/model/ModelManager.java
  src/main/java/seedu/eylah/ui/Ui.java
Labels: priority.High, task.ExpenseSplitter

#139 Editted some of the commands in the UG, mainly the BmiCommand
  docs/UserGuide.adoc
Labels: priority.High, task.DietTracker, type.UG

#141 Update DeleteItem and in Parser class.
  src/main/java/seedu/eylah/expensesplitter/logic/commands/DeleteItemCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/ExpenseSplitterParser.java
Labels: priority.High, task.ExpenseSplitter

#144 Fixed BMI command and set up logic manager for cli demo
  src/main/java/seedu/eylah/diettracker/logic/LogicManager.java
  src/main/java/seedu/eylah/diettracker/logic/commands/BmiCommand.java
  src/main/java/seedu/eylah/diettracker/logic/parser/ParserUtil.java
Labels: priority.High, task.DietTracker

#145 Add exit and prevent CLI from stopping after key in wrong command.
  src/main/java/seedu/eylah/Eylah.java
  src/main/java/seedu/eylah/ui/Ui.java
Labels: priority.High

#148 Done adding importing storage into expense splitter portion.
  src/main/java/seedu/eylah/Eylah.java
  src/main/java/seedu/eylah/commons/util/FileUtil.java
  src/main/java/seedu/eylah/expensesplitter/logic/LogicManager.java
  src/main/java/seedu/eylah/expensesplitter/model/Model.java
  src/main/java/seedu/eylah/expensesplitter/model/ModelManager.java
  src/main/java/seedu/eylah/expensesplitter/model/PersonAmountBook.java
  src/main/java/seedu/eylah/expensesplitter/model/ReadOnlyPersonAmountBook.java
  src/main/java/seedu/eylah/expensesplitter/model/ReadOnlyUserPrefs.java
  src/main/java/seedu/eylah/expensesplitter/model/UserPrefs.java
  src/main/java/seedu/eylah/expensesplitter/model/util/SamplePersonAmountDataUtil.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonAdaptedPerson.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonPersonAmountBookStorage.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonSerializablePersonAmountBook.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonUserPrefsStorage.java
  src/main/java/seedu/eylah/expensesplitter/storage/PersonAmountStorage.java
  src/main/java/seedu/eylah/expensesplitter/storage/Storage.java
  src/main/java/seedu/eylah/expensesplitter/storage/StorageManager.java
  src/main/java/seedu/eylah/expensesplitter/storage/UserPrefsStorage.java
Labels: priority.High, task.ExpenseSplitter

#151 Edited UG (part 1), UG (part 1) and DG and refined storage
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/activityDiagram_for_expensesplitter.png
  docs/images/expense-splitter/activityDiagram_for_expensesplitter.png
  docs/team/willyseahh.adoc
Labels: priority.High, type.DG, type.UG

#154 Update ListAmount function.
  src/main/java/seedu/eylah/expensesplitter/logic/commands/AddItemCommand.java
  src/main/java/seedu/eylah/expensesplitter/model/Model.java
  src/main/java/seedu/eylah/expensesplitter/model/ModelManager.java
  src/main/java/seedu/eylah/expensesplitter/model/PersonAmountBook.java
  src/main/java/seedu/eylah/expensesplitter/model/person/UniquePersonList.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonAdaptedPerson.java
Labels: priority.High, task.ExpenseSplitter

#158 Updated some parts to Developer Guide
  docs/DeveloperGuide.adoc
  docs/diagrams/ExpenseSplitterDeleteItemCommandSequenceDiagram.puml
  docs/images/ExpenseSplitterDeleteItemCommandSequenceDiagram.png
  src/main/java/seedu/eylah/expensesplitter/model/person/Amount.java
Labels: priority.High, type.DG

#162 Fixed issue with regards to duplicate Person in receipt and in amount
  src/main/java/seedu/eylah/expensesplitter/logic/commands/AddItemCommand.java
  src/main/java/seedu/eylah/expensesplitter/model/Model.java
  src/main/java/seedu/eylah/expensesplitter/model/ModelManager.java
  src/main/java/seedu/eylah/expensesplitter/model/PersonAmountBook.java
  src/main/java/seedu/eylah/expensesplitter/model/person/Person.java
  src/main/java/seedu/eylah/expensesplitter/model/person/UniquePersonList.java
  src/main/java/seedu/eylah/expensesplitter/model/util/SamplePersonAmountDataUtil.java
Labels: priority.High, task.ExpenseSplitter

#165 Create a new UserPrefs class for both features and update DG for listamount function.
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/ExpenseSplitterListAmountCommandSequenceDiagram.puml
  docs/images/ExpenseSplitterListAmountCommandSequenceDiagram.png
  src/main/java/seedu/eylah/commons/model/ReadOnlyUserPrefs.java
  src/main/java/seedu/eylah/commons/model/UserPrefs.java
  src/main/java/seedu/eylah/commons/storage/UserPrefsStorage.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonUserPrefsStorage.java
Labels: priority.High, task.DietTracker, task.ExpenseSplitter, type.DG

#157 Branch new commands
  data/addressbook.json
  src/main/java/seedu/eylah/diettracker/logic/commands/EditCommand.java
  src/main/java/seedu/eylah/diettracker/logic/commands/HeightCommand.java
  src/main/java/seedu/eylah/diettracker/logic/commands/ListCommand.java
  src/main/java/seedu/eylah/diettracker/logic/commands/ModeCommand.java
  src/main/java/seedu/eylah/diettracker/logic/commands/WeightCommand.java
  src/main/java/seedu/eylah/diettracker/logic/parser/CliSyntax.java
  src/main/java/seedu/eylah/diettracker/logic/parser/EditCommandParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/FoodBookParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/ListCommandParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/ModeCommandParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/ParserUtil.java
  src/main/java/seedu/eylah/diettracker/model/Mode.java
  src/main/java/seedu/eylah/diettracker/model/Model.java
  src/main/java/seedu/eylah/diettracker/model/ModelManager.java
  src/main/java/seedu/eylah/diettracker/model/self/Self.java
Labels: priority.High, task.DietTracker, type.Task

#169 Editted some DG for Diet Tracker.
  docs/DeveloperGuide.adoc
Labels: priority.High, task.DietTracker, type.DG

#173 Edited UG for Expense Splitter
  docs/DeveloperGuide.adoc
  docs/diagrams/ExpenseSplitterListReceiptCommandSequenceDiagram.puml
  docs/images/ExpenseSplitterListReceiptCommandSequenceDiagram.png
  src/main/java/seedu/eylah/diettracker/model/self/Self.java
  src/main/java/seedu/eylah/expensesplitter/model/ModelManager.java
  src/main/java/seedu/eylah/expensesplitter/model/Receipt.java
Labels: priority.High, type.DG

#175 DietTracker DG Updates for Edit, List, Mode, Weight, Height and BMI Commands
  docs/BobDG.adoc
  docs/diagrams/BmiActivityDiagram.puml
  docs/diagrams/BmiNILSequenceDiagram.puml
  docs/diagrams/BmiSequenceDiagram.puml
  docs/diagrams/DietTrackerEditCommandSequenceDiagram.puml
  docs/diagrams/DietTrackerHeightCommandSequenceDiagram.puml
  docs/diagrams/DietTrackerListCommandSequenceDiagram.puml
  docs/diagrams/DietTrackerModeCommandSequenceDiagram.puml
  docs/diagrams/DietTrackerWeightCommandSequenceDiagram.puml
  docs/images/BmiActivityDiagram.png
  docs/images/BmiNILSequenceDiagram.png
  docs/images/BmiSequenceDiagram.png
  docs/images/DietTrackerEditCommandSequenceDiagram.png
  docs/images/DietTrackerHeightCommandSequenceDiagram.png
  docs/images/DietTrackerListCommandSequenceDiagram.png
  docs/images/DietTrackerModeCommandSequenceDiagram.png
  docs/images/DietTrackerWeightCommandSequenceDiagram.png
  src/main/java/seedu/eylah/diettracker/logic/commands/HeightCommand.java
  src/main/java/seedu/eylah/diettracker/logic/commands/ModeCommand.java
  src/main/java/seedu/eylah/diettracker/logic/commands/WeightCommand.java
  src/main/java/seedu/eylah/diettracker/model/Model.java
  src/main/java/seedu/eylah/diettracker/model/ModelManager.java
Labels: priority.High, task.DietTracker, type.DG

#176 Implemented paidcommand for expense splitter and updated DG
  docs/DeveloperGuide.adoc
  docs/diagrams/ExpenseSplitterPaidCommandSequenceDiagram.puml
  docs/images/ExpenseSplitterPaidCommandSequenceDiagram.png
  docs/images/ExpenseSplitterPaidCommandSequenceDiagramV2.png
  src/main/java/seedu/eylah/expensesplitter/logic/LogicManager.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/PaidCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/PaidCommandParser.java
  src/main/java/seedu/eylah/expensesplitter/model/Model.java
  src/main/java/seedu/eylah/expensesplitter/model/ModelManager.java
  src/main/java/seedu/eylah/expensesplitter/model/PersonAmountBook.java
  src/main/java/seedu/eylah/expensesplitter/model/ReadOnlyPersonAmountBook.java
  src/main/java/seedu/eylah/expensesplitter/model/person/UniquePersonList.java
Labels: priority.High, task.ExpenseSplitter, type.DG

#177 Diet Tracker: Add DG and UML Diagrams for Add and Delete
  docs/DeveloperGuide.adoc
  docs/diagrams/AddFoodActivityDiagram.puml
  docs/diagrams/AddFoodSequenceDiagram.puml
  docs/diagrams/DeleteFoodActivityDiagram.puml
  docs/diagrams/DeleteFoodSequenceDiagram.puml
  docs/images/AddFoodActivityDiagram.png
  docs/images/AddFoodSequenceDiagram.png
  docs/images/DeleteFoodActivityDiagram.png
  docs/images/DeleteFoodSequenceDiagram.png
  src/main/java/seedu/eylah/diettracker/logic/commands/AddCommand.java
  src/main/java/seedu/eylah/diettracker/model/FoodBook.java
Labels: priority.High, type.DG

#178 Combined my own DG file with actual.
  docs/DeveloperGuide.adoc
Labels: priority.High, task.DietTracker, type.DG

#179 Remodeled activity diagram for expense splitter, refined UG
  ExpenseSplitterActivityDiagram.png
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/ExpenseSplitterActivityDiagram.puml
  docs/images/ExpenseSplitterActivityDiagram.png
  docs/images/activityDiagram_for_expensesplitter.png
Labels: priority.High, task.ExpenseSplitter, type.DG, type.UG

#186 Update List Amound and Back Section of the DG and UG. Fix Use Case code.
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/ExpenseSplitterBackCommandSequenceDiagram.puml
  docs/images/ExpenseSplitterBackCommandSequenceDiagram.png
  src/main/java/seedu/eylah/Eylah.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/BackCommand.java
  src/main/java/seedu/eylah/ui/Ui.java
  src/main/java/seedu/eylah/ui/UiManager.java
Labels: type.DG, type.UG

#187 Updated Glossary in DG and some of the testing cases.
  docs/DeveloperGuide.adoc
Labels: priority.High, task.DietTracker, type.DG

#188 Fix typo in Use Case.
  docs/DeveloperGuide.adoc
Labels: type.DG

#189 Add test situation to DG
  docs/DeveloperGuide.adoc
Labels: priority.High

#192 Implemented Storage Tests For Expense Splitter
  docs/BobDG.adoc
  docs/DeveloperGuide.adoc
  docs/tutorials/AddRemark.adoc
  docs/tutorials/RemovingFields.adoc
  docs/tutorials/TracingCode.adoc
  src/main/java/seedu/eylah/expensesplitter/model/item/Item.java
  src/test/data/JsonPersonAmountBookStorageTest/invalidAndValidPersonAmountBook.json
  src/test/data/JsonPersonAmountBookStorageTest/invalidPersonAmountBook.json
  src/test/data/JsonPersonAmountBookStorageTest/notJsonFormatPersonAmountBook.json
  src/test/data/JsonSerializableAddressBookTest/typicalPersonsAddressBook.json
  src/test/data/JsonSerializablePersonAmountBookTest/duplicatePersonAmountBook.json
  src/test/data/JsonSerializablePersonAmountBookTest/invalidPersonAmountBook.json
  src/test/data/JsonSerializablePersonAmountBookTest/typicalPersonsAmountBook.json
  src/test/java/seedu/eylah/addressbook/storage/JsonSerializableAddressBookTest.java
  src/test/java/seedu/eylah/expensesplitter/logic/commands/CommandTestUtil.java
  src/test/java/seedu/eylah/expensesplitter/model/ModelManagerTest.java
  src/test/java/seedu/eylah/expensesplitter/model/item/ItemPriceTest.java
  src/test/java/seedu/eylah/expensesplitter/model/person/AmountTest.java
  src/test/java/seedu/eylah/expensesplitter/model/person/NameContainsKeywordsPredicateTest.java
  src/test/java/seedu/eylah/expensesplitter/model/person/NameTest.java
  src/test/java/seedu/eylah/expensesplitter/model/person/UniquePersonListTest.java
  src/test/java/seedu/eylah/expensesplitter/storage/JsonAdaptedPersonTest.java
  src/test/java/seedu/eylah/expensesplitter/storage/JsonPersonAmountBookStorageTest.java
  src/test/java/seedu/eylah/expensesplitter/storage/JsonSerializablePersonAmountBookTest.java
  src/test/java/seedu/eylah/expensesplitter/storage/JsonUserPrefsStorageTest.java
  src/test/java/seedu/eylah/expensesplitter/storage/StorageManagerTest.java
  src/test/java/seedu/eylah/expensesplitter/testutil/PersonBuilder.java
  src/test/java/seedu/eylah/expensesplitter/testutil/TypicalPersons.java
Labels: priority.High, task.ExpenseSplitter

#196 paidcommand changed from int to used INDEX class as suggested by …
  src/main/java/seedu/eylah/expensesplitter/logic/commands/PaidCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/PaidCommandParser.java
Labels: priority.Medium, type.Bug

#197 The Receipt Storage full implement.
  src/main/java/seedu/eylah/Eylah.java
  src/main/java/seedu/eylah/commons/model/ReadOnlyUserPrefs.java
  src/main/java/seedu/eylah/commons/model/UserPrefs.java
  src/main/java/seedu/eylah/expensesplitter/logic/LogicManager.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/AddItemCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/DeleteItemCommand.java
  src/main/java/seedu/eylah/expensesplitter/model/Model.java
  src/main/java/seedu/eylah/expensesplitter/model/ModelManager.java
  src/main/java/seedu/eylah/expensesplitter/model/PersonAmountBook.java
  src/main/java/seedu/eylah/expensesplitter/model/ReadOnlyReceiptBook.java
  src/main/java/seedu/eylah/expensesplitter/model/ReceiptBook.java
  src/main/java/seedu/eylah/expensesplitter/model/UserPrefs.java
  src/main/java/seedu/eylah/expensesplitter/model/person/Person.java
  src/main/java/seedu/eylah/expensesplitter/model/receipt/Entry.java
  src/main/java/seedu/eylah/expensesplitter/model/receipt/Receipt.java
  src/main/java/seedu/eylah/expensesplitter/model/receipt/UniqueReceiptList.java
  src/main/java/seedu/eylah/expensesplitter/model/receipt/exceptions/DuplicateReceiptException.java
  src/main/java/seedu/eylah/expensesplitter/model/receipt/exceptions/ReceiptNotFoundException.java
  src/main/java/seedu/eylah/expensesplitter/model/util/SampleReceiptDataUtil.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonAdaptedEntry.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonAdaptedItem.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonAdaptedReceipt.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonReceiptBookStorage.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonSerializableReceiptBook.java
  src/main/java/seedu/eylah/expensesplitter/storage/ReceiptStorage.java
  src/main/java/seedu/eylah/expensesplitter/storage/Storage.java
  src/main/java/seedu/eylah/expensesplitter/storage/StorageManager.java
  src/test/java/seedu/eylah/expensesplitter/storage/StorageManagerTest.java
Labels: priority.High, task.ExpenseSplitter, type.Task

#205 Update isDone in the storage.
  src/main/java/seedu/eylah/expensesplitter/model/receipt/Receipt.java
  src/main/java/seedu/eylah/expensesplitter/model/util/SampleReceiptDataUtil.java
  src/main/java/seedu/eylah/expensesplitter/storage/JsonAdaptedReceipt.java
Labels: priority.High, task.ExpenseSplitter

#209 Added NewReceiptCommand and refined PaidCommand
  src/main/java/seedu/eylah/expensesplitter/logic/commands/NewReceiptCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/PaidCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/ExpenseSplitterParser.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/PaidCommandParser.java
  src/main/java/seedu/eylah/expensesplitter/model/Model.java
  src/main/java/seedu/eylah/expensesplitter/model/ModelManager.java
  src/main/java/seedu/eylah/expensesplitter/model/receipt/Receipt.java
Labels: priority.High, task.ExpenseSplitter, type.Bug

#213 Refining DietTracker Commands
  src/main/java/seedu/eylah/diettracker/logic/commands/EditCommand.java
  src/main/java/seedu/eylah/diettracker/logic/parser/CliSyntax.java
  src/main/java/seedu/eylah/diettracker/logic/parser/EditCommandParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/ParserUtil.java
Labels: priority.High, severity.High, severity.Medium, task.DietTracker

#217 Feature/adddate
  src/main/java/seedu/eylah/diettracker/model/food/Calories.java
  src/main/java/seedu/eylah/diettracker/model/food/Date.java
  src/main/java/seedu/eylah/diettracker/model/food/Food.java
  src/main/java/seedu/eylah/diettracker/storage/JsonAdaptedFood.java
  src/test/java/seedu/eylah/diettracker/testutil/FoodBuilder.java
Labels: priority.High

#219 Add ListAmountTest, CommandResultTest, PaidCommandTest for expense spliter
  src/main/java/seedu/eylah/expensesplitter/logic/commands/BackCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/ClearReceiptCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/CommandResult.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/DeleteItemCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/DoneReceiptCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/ListAmountCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/ListReceiptCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/PaidCommand.java
  src/main/java/seedu/eylah/expensesplitter/model/Model.java
  src/main/java/seedu/eylah/expensesplitter/model/ModelManager.java
  src/test/java/seedu/eylah/addressbook/logic/commands/CommandTestUtil.java
  src/test/java/seedu/eylah/expensesplitter/logic/commands/CommandResultTest.java
  src/test/java/seedu/eylah/expensesplitter/logic/commands/CommandTestUtil.java
  src/test/java/seedu/eylah/expensesplitter/logic/commands/ListAmountCommandTest.java
  src/test/java/seedu/eylah/expensesplitter/logic/commands/PaidCommandTest.java
  src/test/java/seedu/eylah/expensesplitter/model/ReceiptBookStub.java
Labels: priority.High, task.ExpenseSplitter

#218 Fixed the acception of Float Strings for Height, Weight and Bmi Commands
  docs/DeveloperGuide.adoc
  src/main/java/seedu/eylah/diettracker/logic/commands/BmiCommand.java
  src/main/java/seedu/eylah/diettracker/logic/parser/BmiCommandParser.java
  src/main/java/seedu/eylah/diettracker/logic/parser/ParserUtil.java
  src/main/java/seedu/eylah/diettracker/model/self/Bmi.java
  src/main/java/seedu/eylah/diettracker/model/self/Height.java
  src/main/java/seedu/eylah/diettracker/model/self/Weight.java
Labels: priority.High, task.DietTracker

#221 Add list by tag feature
  src/main/java/seedu/eylah/diettracker/logic/commands/ListCommand.java
  src/main/java/seedu/eylah/diettracker/logic/parser/CliSyntax.java
  src/main/java/seedu/eylah/diettracker/logic/parser/ListCommandParser.java
  src/main/java/seedu/eylah/diettracker/model/Model.java
  src/main/java/seedu/eylah/diettracker/model/ModelManager.java
Labels: priority.High

#225 Add feature to list food by past num of days
  src/main/java/seedu/eylah/diettracker/logic/commands/ListCommand.java
  src/main/java/seedu/eylah/diettracker/model/food/Date.java
Labels: priority.High, task.DietTracker

#231 Edited PaidCommand, Deleteitemcommand to better validate user input
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/ExpenseSplitterActivityDiagram.puml
  docs/diagrams/ExpenseSplitterActivityDiagramV2.puml
  docs/images/ExpenseSplitterActivityDiagram.png
  src/main/java/seedu/eylah/commons/util/CalculateUtil.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/DeleteItemCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/commands/PaidCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/PaidCommandParser.java
  src/main/java/seedu/eylah/expensesplitter/model/util/SamplePersonAmountDataUtil.java
  src/test/data/ConfigUtilTest/EmptyConfig.json
  src/test/data/ConfigUtilTest/NotJsonFormatConfig.json
  src/test/data/JsonPersonAmountBookStorageTest/notJsonFormatPersonAmountBook.json
  src/test/data/JsonUserPrefsStorageTest/NotJsonFormatUserPrefs.json
Labels: priority.High, task.ExpenseSplitter, type.Bug, type.DG

#236 Update Ui.png and fix the config issue.
  README.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/Ui.png
  docs/images/Ui_old2.png
  src/main/java/seedu/eylah/Eylah.java
  src/main/java/seedu/eylah/commons/core/LogsCenter.java
Labels: priority.High

#239 resolved PaidCommand Bug
  src/main/java/seedu/eylah/expensesplitter/logic/commands/PaidCommand.java
  src/main/java/seedu/eylah/expensesplitter/logic/parser/PaidCommandParser.java
Labels: type.Bug
